---
import Layout from "../layout/Layout.astro";

const test: string = "test";
---

<Layout title="Home">
  <h1>Astro</h1>
  <a href="/about">About</a>
  <div style="margin-top: 1rem;">{test}</div>
</Layout>
