---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script is:inline>
      let toggleButton;
      let theme;
      const currentTheme = localStorage.getItem("theme");
      if (currentTheme) {
        document.documentElement.setAttribute("data-theme", currentTheme);
      } else {
        const darkMode = window.matchMedia("(prefers-color-scheme: dark)");
        const theme = darkMode.matches ? "dark" : "light";
        document.documentElement.setAttribute("data-theme", theme);
        localStorage.setItem("theme", theme);
      }
    </script>
  </head>
  <body>
    <div style="padding: 2rem;">
      <input type="checkbox" id="toggleTheme" />
      <span>toggle theme</span>
      <!-- <SelectTheme client:load /> -->
      <slot />
    </div>
  </body>
  <script type="text/javascript">
    toggleButton = document.getElementById("toggleTheme");
    theme = localStorage.getItem("theme");
    if (theme == "dark") {
      toggleButton.checked = true;
    }

    function switchTheme(e) {
      const theme = e.target.checked ? "dark" : "light";
      document.documentElement.setAttribute("data-theme", theme);
      localStorage.setItem("theme", theme);
    }
    toggleButton.addEventListener("change", switchTheme);
  </script>
</html>
